.elementor-kit-168{--e-global-color-primary:#1A1A1A;--e-global-color-secondary:#6EC530;--e-global-color-text:#3373BF;--e-global-color-accent:#CCCCCC;--e-global-color-8ff8c42:#EEEEEE;--e-global-color-65cee20:#FFFFFF;--e-global-typography-primary-font-family:"Roboto Slab";--e-global-typography-primary-font-size:48px;--e-global-typography-primary-font-weight:bold;--e-global-typography-primary-line-height:54px;--e-global-typography-secondary-font-family:"Roboto Slab";--e-global-typography-secondary-font-size:36px;--e-global-typography-secondary-font-weight:bold;--e-global-typography-secondary-line-height:40px;--e-global-typography-text-font-family:"Roboto Slab";--e-global-typography-text-font-size:30px;--e-global-typography-text-font-weight:bold;--e-global-typography-text-line-height:32px;--e-global-typography-accent-font-family:"Roboto Slab";--e-global-typography-accent-font-size:22px;--e-global-typography-accent-font-weight:bold;--e-global-typography-accent-line-height:30px;--e-global-typography-47ea753-font-family:"Roboto";--e-global-typography-47ea753-font-size:18px;--e-global-typography-47ea753-font-weight:400;--e-global-typography-47ea753-line-height:28px;--e-global-typography-97ceb21-font-family:"Roboto";--e-global-typography-97ceb21-font-size:18px;--e-global-typography-97ceb21-font-weight:bold;--e-global-typography-97ceb21-line-height:28px;color:var( --e-global-color-primary );font-family:var( --e-global-typography-47ea753-font-family ), Sans-serif;font-size:var( --e-global-typography-47ea753-font-size );font-weight:var( --e-global-typography-47ea753-font-weight );line-height:var( --e-global-typography-47ea753-line-height );letter-spacing:var( --e-global-typography-47ea753-letter-spacing );word-spacing:var( --e-global-typography-47ea753-word-spacing );}.elementor-kit-168 a{color:var( --e-global-color-primary );font-family:var( --e-global-typography-47ea753-font-family ), Sans-serif;font-size:var( --e-global-typography-47ea753-font-size );font-weight:var( --e-global-typography-47ea753-font-weight );line-height:var( --e-global-typography-47ea753-line-height );letter-spacing:var( --e-global-typography-47ea753-letter-spacing );word-spacing:var( --e-global-typography-47ea753-word-spacing );}.elementor-kit-168 h1{font-family:var( --e-global-typography-primary-font-family ), Sans-serif;font-size:var( --e-global-typography-primary-font-size );font-weight:var( --e-global-typography-primary-font-weight );line-height:var( --e-global-typography-primary-line-height );}.elementor-kit-168 h2{font-family:var( --e-global-typography-secondary-font-family ), Sans-serif;font-size:var( --e-global-typography-secondary-font-size );font-weight:var( --e-global-typography-secondary-font-weight );line-height:var( --e-global-typography-secondary-line-height );}.elementor-kit-168 h3{font-family:var( --e-global-typography-text-font-family ), Sans-serif;font-size:var( --e-global-typography-text-font-size );font-weight:var( --e-global-typography-text-font-weight );line-height:var( --e-global-typography-text-line-height );}.elementor-kit-168 h4{font-family:var( --e-global-typography-accent-font-family ), Sans-serif;font-size:var( --e-global-typography-accent-font-size );font-weight:var( --e-global-typography-accent-font-weight );line-height:var( --e-global-typography-accent-line-height );}.elementor-kit-168 h5{font-size:18px;}.elementor-section.elementor-section-boxed > .elementor-container{max-width:1140px;}.e-con{--container-max-width:1140px;}{}h1.entry-title{display:var(--page-title-display);}.elementor-kit-168 e-page-transition{background-color:#FFBC7D;}@media(max-width:1024px){.elementor-kit-168{--e-global-typography-primary-font-size:30px;--e-global-typography-primary-line-height:36px;--e-global-typography-secondary-font-size:24px;--e-global-typography-secondary-line-height:30px;--e-global-typography-text-font-size:22px;--e-global-typography-text-line-height:28px;--e-global-typography-accent-font-size:18px;--e-global-typography-accent-line-height:22px;--e-global-typography-47ea753-font-size:17px;--e-global-typography-47ea753-line-height:23px;--e-global-typography-97ceb21-font-size:17px;--e-global-typography-97ceb21-line-height:23px;font-size:var( --e-global-typography-47ea753-font-size );line-height:var( --e-global-typography-47ea753-line-height );letter-spacing:var( --e-global-typography-47ea753-letter-spacing );word-spacing:var( --e-global-typography-47ea753-word-spacing );}.elementor-kit-168 a{font-size:var( --e-global-typography-47ea753-font-size );line-height:var( --e-global-typography-47ea753-line-height );letter-spacing:var( --e-global-typography-47ea753-letter-spacing );word-spacing:var( --e-global-typography-47ea753-word-spacing );}.elementor-kit-168 h1{font-size:var( --e-global-typography-primary-font-size );line-height:var( --e-global-typography-primary-line-height );}.elementor-kit-168 h2{font-size:var( --e-global-typography-secondary-font-size );line-height:var( --e-global-typography-secondary-line-height );}.elementor-kit-168 h3{font-size:var( --e-global-typography-text-font-size );line-height:var( --e-global-typography-text-line-height );}.elementor-kit-168 h4{font-size:var( --e-global-typography-accent-font-size );line-height:var( --e-global-typography-accent-line-height );}.elementor-kit-168 h5{font-size:16px;}.elementor-kit-168 h6{font-size:14px;}.elementor-section.elementor-section-boxed > .elementor-container{max-width:1024px;}.e-con{--container-max-width:1024px;}}@media(max-width:767px){.elementor-kit-168{--e-global-typography-primary-font-size:26px;--e-global-typography-primary-line-height:32px;--e-global-typography-secondary-font-size:22px;--e-global-typography-secondary-line-height:28px;--e-global-typography-text-font-size:19px;--e-global-typography-text-line-height:25px;--e-global-typography-accent-font-size:17px;--e-global-typography-accent-line-height:23px;--e-global-typography-47ea753-font-size:16px;--e-global-typography-47ea753-line-height:22px;--e-global-typography-97ceb21-font-size:16px;--e-global-typography-97ceb21-line-height:22px;font-size:var( --e-global-typography-47ea753-font-size );line-height:var( --e-global-typography-47ea753-line-height );letter-spacing:var( --e-global-typography-47ea753-letter-spacing );word-spacing:var( --e-global-typography-47ea753-word-spacing );}.elementor-kit-168 a{font-size:var( --e-global-typography-47ea753-font-size );line-height:var( --e-global-typography-47ea753-line-height );letter-spacing:var( --e-global-typography-47ea753-letter-spacing );word-spacing:var( --e-global-typography-47ea753-word-spacing );}.elementor-kit-168 h1{font-size:var( --e-global-typography-primary-font-size );line-height:var( --e-global-typography-primary-line-height );}.elementor-kit-168 h2{font-size:var( --e-global-typography-secondary-font-size );line-height:var( --e-global-typography-secondary-line-height );}.elementor-kit-168 h3{font-size:var( --e-global-typography-text-font-size );line-height:var( --e-global-typography-text-line-height );}.elementor-kit-168 h4{font-size:var( --e-global-typography-accent-font-size );line-height:var( --e-global-typography-accent-line-height );}.elementor-kit-168 h5{font-size:12px;}.elementor-kit-168 h6{font-size:10px;}.elementor-section.elementor-section-boxed > .elementor-container{max-width:767px;}.e-con{--container-max-width:767px;}}/* Start custom CSS */.margem-zero p
{
	margin: 0;
}

.margem-zero h1
{
	margin: 0;
}

.margem-zero h2
{
	margin: 0;
}


.margem-zero h3
{
	margin: 0;
}


.margem-zero h4
{
	margin: 0;
}


.margem-zero h5
{
	margin: 0;
}


.margem-zero2 p:first-child
{
	margin-top: 0;
}


.margem-zero2 p:last-child
{
	margin-bottom: 0;
}


.elementor-pagination
{
    font-family: inherit;
    font-size: 14px;
    font-weight: normal !important;
    width: 100%;
    height: auto;
    margin-top: 50px;
    
    color: inherit;
    box-sizing: border-box;
    
    
}


.elementor-pagination a
{
    color: inherit;
}


.elementor-pagination .page-numbers
{
    background-color: #EEE;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}


.elementor-pagination .page-numbers:hover
{
    background-color: #1CC6FF;
    color: #FFF;
}


.elementor-pagination .page-numbers.current
{
    background-color: #1CC6FF;
    color: #FFF;
}


.elementor-pagination span.page-numbers.prev
{
    display:none;
}


.elementor-pagination span.page-numbers.next
{
    display:none;
}

.sidebar
{
    position: relative;
    width: auto;
    height: auto;
    font-family: Poppins;
    color: #0E586E;
}

.sidebar h5
{
	display: none;
}


.sidebar ul
{
    margin: 0;
    padding: 0;
		margin-top: 20px;
    list-style: none;
		display: none;
}

.sidebar-bot-clear
{
	display: none;
}

@media(min-width: 768px)
{
	.sidebar ul
	{
		display: block;
	}
	
	.sidebar-bot-clear
	{
	display: block;
	}
	
}

.sidebar ul li
{
    font-weight: 300;
    font-size: 16px;
		color: #666666;
		margin-top:5px;
		margin-bottom: 5px;
    
    
}


@media(min-width: 768px)
{
    .sidebar ul li
    {
        font-size: 18px;
    }
}


.sidebar ul li a
{
		display: block;
    color: #666666;
    padding-top: 5px;
    padding-bottom: 5px;
}

.sidebar .current-cat a
{
	color: #1CC6FF !important;
	font-weight: bold;
}

.woocommerce
{
	font-family: Roboto;
}


.woocommerce a
{
	color: inherit;
}


.woocommerce .button
{
	background-color: #e33c36 !important;
	color: #FFF !important;
}


.woocommerce .coupon
{
	display: flex;
	align-items: stretch;
}


.woocommerce .coupon .input-text
{
	width: 120px !important;
}


.woocommerce .input-text.qty.text
{
	border: 2px solid #000;	
	height: 35px;
	padding: 0;
	box-sizing: border-box;
}


.woocommerce-notices-wrapper
{
    display: block !important;
    font-family: Roboto;
    
    
}

.woocommerce-notices-wrapper .woocommerce-message
{
		padding-left: 25px;
    padding-right: 25px;
}

.woocommerce-message::before
{
    color: #000;
		display: none;

}

.woocommerce-notices-wrapper .woocommerce-message
{
    
    border-top: 4px solid #e33c36;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.woocommerce-notices-wrapper .woocommerce-message .button.wc-forward
{
    order: 2;
    background-color: #e33c36;
    color: #FFF;
}


.woocommerce input
{
	border: 1px solid #000;
	box-sizing: border-box;
	padding-left: 5px;
	padding-top: 7px;
	padding-bottom: 7px;
}


.woocommerce .select2-selection__rendered
{
	border: 1px solid #000;
	box-sizing: border-box;
	
}


.woocommerce-info
{
	border-top: 4px solid #e33c36;
}


.woocommerce-MyAccount-navigation
{
	position: relative;
	width: auto;
	height: auto;
}


.woocommerce-MyAccount-navigation ul
{
	margin: 0;
	padding: 0;
	list-style: none;
	list-style-type: none;
}

.woocommerce-MyAccount-navigation ul li
{
	position: relative;
	width: auto;
	height: auto;
	display: flex;
	height: 40px;
	border-bottom: 1px solid #EEE;

}

.woocommerce-MyAccount-navigation ul li:hover
{
	background-color: #e33c36;
	color: #FFF;
}



.woocommerce-MyAccount-navigation ul li a
{
	width: 100%;
	display: flex;
	align-items: center;
	padding-left: 7px;
	padding-right: 7px;
	box-sizing: border-box;
	
}


.jet-listing-not-found
{
	font-family: Roboto;
	text-align: left;
}


.studio-widget-filter-sidebar
{
    font-family: Poppins;
}


.studio-widget-filter-sidebar-desktop-itens-title
{
    color: #1CC6FF;
}




.slideshow .swiper-slide-inner
{
    max-width: 1140px;
}/* End custom CSS */