.elementor-kit-168{--e-global-color-primary:#1B72D1;--e-global-color-secondary:#48C0E6;--e-global-color-text:#5A5A5A;--e-global-color-accent:#808080;--e-global-color-43e813ea:#F3F3F3;--e-global-color-6a337bd:#EEEEEE;--e-global-color-d83b013:#FFFFFF;--e-global-typography-primary-font-family:"Inter";--e-global-typography-primary-font-size:40px;--e-global-typography-primary-font-weight:600;--e-global-typography-primary-line-height:50px;--e-global-typography-primary-letter-spacing:1px;--e-global-typography-secondary-font-family:"Inter";--e-global-typography-secondary-font-size:28px;--e-global-typography-secondary-font-weight:600;--e-global-typography-secondary-line-height:35px;--e-global-typography-text-font-family:"Inter";--e-global-typography-text-font-size:25px;--e-global-typography-text-font-weight:400;--e-global-typography-text-line-height:36px;--e-global-typography-text-letter-spacing:3px;--e-global-typography-accent-font-family:"Inter";--e-global-typography-accent-font-size:75px;--e-global-typography-accent-font-weight:800;--e-global-typography-accent-text-transform:uppercase;--e-global-typography-accent-line-height:80px;--e-global-typography-54df8cc-font-family:"Inter";--e-global-typography-54df8cc-font-size:28px;--e-global-typography-54df8cc-font-weight:600;--e-global-typography-54df8cc-font-style:italic;--e-global-typography-54df8cc-line-height:34px;--e-global-typography-54df8cc-letter-spacing:1px;--e-global-typography-41a17da-font-family:"Inter";--e-global-typography-41a17da-font-size:17px;--e-global-typography-41a17da-font-weight:400;--e-global-typography-41a17da-line-height:28px;--e-global-typography-fbdfb55-font-family:"Inter";--e-global-typography-fbdfb55-font-size:17px;--e-global-typography-fbdfb55-font-weight:bold;color:var( --e-global-color-primary );}.elementor-kit-168 a{color:var( --e-global-color-primary );}.elementor-kit-168 h1{color:var( --e-global-color-primary );}.elementor-kit-168 h2{color:var( --e-global-color-primary );}.elementor-kit-168 h3{color:var( --e-global-color-primary );}.elementor-kit-168 h4{color:var( --e-global-color-primary );}.elementor-kit-168 h5{color:var( --e-global-color-primary );}.elementor-kit-168 h6{color:var( --e-global-color-primary );}.elementor-section.elementor-section-boxed > .elementor-container{max-width:1140px;}.e-container{--container-max-width:1140px;}{}h1.entry-title{display:var(--page-title-display);}.elementor-kit-168 e-page-transition{background-color:#FFBC7D;}@media(max-width:1024px){.elementor-kit-168{--e-global-typography-primary-font-size:30px;--e-global-typography-primary-line-height:36px;--e-global-typography-secondary-font-size:24px;--e-global-typography-secondary-line-height:30px;--e-global-typography-text-font-size:22px;--e-global-typography-text-line-height:28px;--e-global-typography-accent-font-size:50px;--e-global-typography-accent-line-height:70px;--e-global-typography-54df8cc-font-size:18px;--e-global-typography-54df8cc-line-height:24px;--e-global-typography-41a17da-font-size:17px;--e-global-typography-41a17da-line-height:23px;}.elementor-section.elementor-section-boxed > .elementor-container{max-width:1024px;}.e-container{--container-max-width:1024px;}}@media(max-width:767px){.elementor-kit-168{--e-global-typography-primary-font-size:26px;--e-global-typography-primary-line-height:32px;--e-global-typography-secondary-font-size:22px;--e-global-typography-secondary-line-height:28px;--e-global-typography-text-font-size:19px;--e-global-typography-text-line-height:25px;--e-global-typography-accent-font-size:25px;--e-global-typography-accent-line-height:32px;--e-global-typography-54df8cc-font-size:18px;--e-global-typography-54df8cc-line-height:24px;--e-global-typography-41a17da-font-size:16px;--e-global-typography-41a17da-line-height:22px;}.elementor-section.elementor-section-boxed > .elementor-container{max-width:767px;}.e-container{--container-max-width:767px;}}/* Start custom CSS *//* PRESETS */

*
{
    font-family: 'Inter';
    box-sizing: border-box;
}

/* RETIRA AS MARGENS AUTOMATICAS DO PARAGRAFO E TÍTULOS */

.margem-zero p
{
	margin: 0;
}

.margem-zero h1
{
	margin: 0;
}

.margem-zero h2
{
	margin: 0;
}


.margem-zero h3
{
	margin: 0;
}


.margem-zero h4
{
	margin: 0;
}


.margem-zero h5
{
	margin: 0;
}


.margem-zero2 p:first-child
{
	margin-top: 0;
}


.margem-zero2 p:last-child
{
	margin-bottom: 0;
}


/* PAGINAÇÃO ARCHIVE ELEMENTOR */

.elementor-pagination
{

    font-size: 14px;
    font-weight: normal !important;
    width: 100%;
    height: auto;
    margin-top: 50px;
    
    color: inherit;
    box-sizing: border-box;
    
    
}


.elementor-pagination a
{
    color: inherit;
}


.elementor-pagination .page-numbers
{
    background-color: #EEE;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}


.elementor-pagination .page-numbers:hover
{
    background-color: #666;
    color: #FFF;
}


.elementor-pagination .page-numbers.current
{
    background-color: #666;
    color: #FFF;
}


.elementor-pagination span.page-numbers.prev
{
    display:none;
}


.elementor-pagination span.page-numbers.next
{
    display:none;
}


/* EXIBIR BLOCOS EM DISPOSITIVOS DIFERENTES */
.show-none
{
    display: none;
}

.show-desktop
{
    display: none;
}

.show-desktop-tablet
{
    display: none;
}

.show-desktop-mobile
{
    display: flex;
}

.show-tablet
{
    display: none;
}

.show-tablet-mobile
{
    display: flex;
}

.show-mobile
{
    display: flex;
}



@media(min-width: 768px)
{
    
    .show-desktop
    {
        display: none;
    }
    
    .show-desktop-tablet
    {
        display: flex;
    }
    
    .show-desktop-mobile
    {
        display: flex;
    }
    
    .show-tablet
    {
        display: flex;
    }
    
    .show-tablet-mobile
    {
        display: flex;
    }
    
    .show-mobile
    {
        display: none;
    }
    

}

@media(min-width: 1025px)
{
    
    
    .show-desktop
    {
        display: flex;
        
    }
    
    .show-desktop-tablet
    {
        display: flex;
    }
    
    .show-desktop-mobile
    {
        display: flex;
    }
    
    .show-tablet
    {
        display: none;
    }
    
    .show-tablet-mobile
    {
        display: none;
    }

    .show-mobile
    {
        display: none;
    }
    

}


/* EXIBIR OS ELEMENTOS NA VERTICAL */

.spw-column-vertical .elementor-widget-wrap
{
    display: flex;
    flex-direction: column
}

/* CORREÇÃO DO GRID DO SLIDESHOW */

.slideshow .swiper-slide-inner
{
    max-width: 1140px;
}/* End custom CSS */